 @font-face
{
  font-family: 'myFancyFont';
  src: url('../fonts/SCRIPTIN.ttf');
}

#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 350px;
  height: 350px;
  margin: 0 auto;
  border-radius: 0%;
  background-size: cover;
}

#profile ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#carousel {
    width: 100%;
    height: 225px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}

.pub-list-item .pub-authors {
  line-height: normal;
  font-style: normal;
  font-size: 1rem;
  color: #28894C;
}

.navbar-default .navbar-brand {
  font-family: 'myFancyFont';
  text-transform: none;
  font-weight: bold;
  font-size: 1.2em;
  color: {{ .Get "menu_title" }};
}
