
// set your custom colors here
$siteBgColorCustom: #f2f2f1;
$sidebarBgColorCustom: #eeeeee;
$textColorCustom: #333333;
$sidebarTextColorCustom: #555555;
$headlineColorCustom: #D5008F;
$headingColorCustom: #111111;
$bodyLinkColorCustom: #357edd;
$navLinkColorCustom: #111111;
$sidebarLinkColorCustom: #111111;
$footerTextColorCustom: #999999;
$buttonTextColorCustom: #f4f4f4;
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #000000;
$buttonHoverBgColorCustom: #357edd;
$borderColorCustom: #cccccc;

